<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script
src="https://code.jquery.com/jquery-3.3.1.js"
integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
crossorigin="anonymous"></script>


<link rel="stylesheet" type="text/css" href="artist_profile.css">


<link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>


<div class="container">
<div class="row login_box">
    <div class="col-md-12 col-xs-12" align="center">
        <div class="line"><h3>SNS like Profile</h3></div>
        <div class="outter"><img src="https://www.gstatic.com/webp/gallery3/1.png" class="image-circle"/></div>
        <h1>Rysouke Hujisawa</h1>
        <span>engineer</span>
    </div>
    <div class="col-md-6 col-xs-6 follow line" align="center">
        <h3>
             125651 <br/> <span>FOLLOWERS</span>
        </h3>
    </div>
    <div class="col-md-6 col-xs-6 follow line" align="center">
        <h3>
             125651 <br/> <span>FOLLOWERS</span>
        </h3>
    </div>

    <div class="col-md-12 col-xs-12 login_control">





            <div align="center">
                 <button class="btn btn-orange">follow!</button>
            </div>

    </div>
</div>
</div>
